html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0 auto;
  background: #adadad;
  font-family: "Lato", sans-serif;
}

#container,
.content {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 800px;
  margin: 0 auto;
  background: #fff;
}

#map {
  width: 100%;
  height: 65%;
}

#description {
  width: 100%;
  height: 35%;
  overflow: scroll;
}

#description h1 {
  text-align: center;
}

#description ol {
  margin: 0;
  padding: 0;
}

#description li {
  padding: 1rem 2rem;
}

#disclaimer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 9;
  display: none;
}
.content {
  padding: 5rem 2rem;
}

.content a {
  text-decoration: none;
  float: right;
  color: #fff;
  background: rgb(62, 136, 1);
  padding: 1rem;
  border-radius: 8px;
  margin-top: 2rem;
  font-weight: bold;
}

.box {
  background: #fff;
  padding: 1rem;
  box-shadow: 1px 1px 5px #0f0f0f;
  border-radius: 8px;
}

.box a {
  text-decoration: none;
  color: rgb(170, 170, 170);
  font-weight: bold;
  position: relative;
}

.finish {
  float: right;
  color: rgb(33, 73, 0) !important;
  position: relative;
  font-weight: bold;
}
