html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0 auto;
  background: #333;
  font-family: "Lato", sans-serif;
}

.full-mask {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 9;
  position: absolute;
  overflow-y: auto;
}

.btn {
  text-decoration: none;
  float: right;
  color: #333;
  background: #eee;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  font-weight: bold;
}

.green {
  color: #fff !important;
  background: rgb(62, 136, 1) !important;
}

.d-none {
  display: none !important;
}

.map {
  width: 100%;
  height: 65%;
  border-radius: 0.5rem;
}

.description {
  width: 100%;
  height: 35%;
  overflow: scroll;
}

.description h1 {
  text-align: center;
}
.description ol {
  padding: 0 3rem;
  font-size: 1.2rem;
}
.description li {
  padding: 0.5rem 0.5rem;
}

.box {
  background: #fff;
  padding: 1rem;
  box-shadow: 1px 1px 5px #0f0f0f;
  border-radius: 8px;
}

.box a {
  text-decoration: none;
  color: rgb(170, 170, 170);
  font-weight: bold;
  position: relative;
  z-index: 999;
}

.finish {
  float: right;
  color: rgb(33, 73, 0) !important;
  position: relative;
  font-weight: bold;
}

@media only screen and (max-width: 28rem) {
  .content {
    width: 100%;
    height: 100%;
    background: #fff;
  }
  .content p {
    padding: 1rem 2rem;
    overflow-y: auto;
  }
  .content h1 {
    padding: 2rem 1rem 1rem 2rem;
    overflow-y: auto;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 28rem) {
  .content {
    width: 28rem;
    height: 46rem;
    background: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin: 0;
  }
}

/*
#container,
.content {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 800px;
  margin: 0 auto;
  background: #fff;
}







#description ol {
  margin: 0;
  padding: 0;
}

#description li {
  padding: 1rem 2rem;
}

#disclaimer,
#instructions {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 9;
}
.content {
  width: 100%;
  height: 100%;
  margin: 5rem 2rem;
  overflow-y: auto;
}

.content a {
 
}


*/
